################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/opencode/.claude/worktrees/orchestrator-model-selection-1aa58a/.vs
